html,body{
    height: 100%;
    width: 100%;
}
.container{
    background-color: rgb(107, 5, 5);
    max-width: fit-content;
    padding: 2rem;
    box-shadow: 20px;
    border-radius:12px;
}
.button
{   
    font-size: 20px;
    width: 66px;
    padding: 20px;
    margin: 0 3px;
    border: 2px solid black;
    border-radius: 9px;
    cursor: pointer;
}

/* .button ,:hover{
    background-color: white;
    color: black;
    border: 2px solid black;
} */
.row{
    margin: 8px 0;
}
.row input{
    font-size: 24px;
    margin: 0;
    padding: 10px 0px;
    border: 2px solid black;
    border-radius: 5px;
}