.text-center{
    text-align: center;
    background-color: brown; 
    
}

.mx-auto
{
    margin:auto;
}
.flex{
    display: flex;
}
.flex-col{
    flex-direction: column;
}

.item-center{
    align-items: center;
}