*{
  margin: 0;
  padding:0;
}
:root{

    /* background color */

    --bg-primary-color: rgb(0, 0, 0);
    --text-primary-color: #f0f0f0;

    /* spacing variable */
    
    --space-xs: 4px;
    --space-sm: 8px;
    --space-md: 16px;
    --space-lg: 24px;
    --space-xl: 32px;
    --space-2xl: 40px;
    --space-3xl: 48px;



    /* border colors*/
    --border-primary-color: #333333;


    /* border radius */
    --border-radius-xs: 4px;
    --border-radius-sm: 8px;
    --border-radius-md: 12px;
    --border-radius-lg: 16px;
    --border-radius-xl: 20px;
    --border-radius-2xl: 24px;

}

html{
  
    background-color: var(--bg-primary-color);
    color: var(--text-primary-color);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


/* main,
section {
  width: 100%;
  height: 100%;
} */

section{
  padding: var(--space-2xl);
  display: flex;
  flex-direction: column;
   min-height: calc(100vh - 80px);
  gap: var(--space-lg);
}

 section .infos{
  width: 100%;
  display: flex;
  justify-content: space-between;


 }

 .info{
  padding: var(--space-sm) var(--space-md);
  border: 1px solid var(--border-primary-color) ;
  border-radius: var(--border-radius-sm);
 }

 .board {
  overflow: hidden;
  border: 1px solid var(--border-primary-color);
  flex-grow: 1;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(30px, 1fr));
  grid-template-rows: repeat(auto-fill, minmax(30px, 1fr));

 }

 .block{
    /* width: 30px; */
    height: 30px;
    border: 1px solid var(--border-primary-color);
    
    
 }